# Cloudflare
CLOUDFLARE_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDFLARE_ZONE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ROOT_DOMAIN=yourdomain.lol

# Discord
DISCORD_TOKEN=discord_bot_token
DISCORD_APP_ID=application_id
DISCORD_GUILD_ID=server_id
DISCORD_REQUIRED_ROLE_ID=role_id

# Github
GITHUB_TOKEN=github_pat_or_fine_grained_token
GITHUB_OWNER=yourname
GITHUB_REPO=exists.lol

# Misc
REGISTRY_DIR=domains
SELF_UPDATE_SCRIPT=./scripts/self-update.sh
SYSTEMD_SERVICE=existsbot
REDIRECT_CNAME=exists.lol

# API
API_ENABLED=true
API_HOST=0.0.0.0
API_PORT=8080
API_PUBLIC_URL=https://api.exists.lol
API_TOKEN=dev-secret
API_INTERNAL_URL=http://localhost:8080
