[Unit]
Description=ExistsBot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/bots/exists.lol
EnvironmentFile=/home/bots/exists.lol/.env
ExecStart=/home/bots/exists.lol/bin/existsbot
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
